@CHARSET "UTF-8";

.datos-tarea {
	position: absolute;
	top: 28px;
	right: 0px;
	left: 0px;
	height: 220px;
	overflow: auto;
}

.pnl-label {
	width: 15%;
	font-weight: bold;
}

.pnl-value {
	width: 35%;
}

.responsables-tarea {
	position: absolute;
	top: 248px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: auto;
}