#header #navigation, #advertising, #other, #ad, #leftbar { 
  display : none; 
}

#print-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 680px;
	border-collapse: collapse;
	text-align: left;
}
#print-table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#print-table td
{
	border-bottom: 1px solid #ccc;
	color: #309;
	padding: 6px 8px;
}
#print-table tbody tr:hover td
{
	color: #009;
}

.logo-ocma-print {
	position: absolute;
	top: 20px;
	left: 20px;
}

#print-table h1
{	
	font-size: 18px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}

div.center {	
	margin-left: 220px;	
}

div.centerb {	
	margin-left: 300px;
}

#BrowserPrintDefaults{display:none}